[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
mysql-client = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
nested = "*"
pillow = "*"
django-filter = "*"
redis = "*"
celery = "*"
geoip2 = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
